<div class="container">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">About CHOW</h3>
      </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <p>CHOW was started in 2017. We serve the best food in the business, hands down.</p>
              <p>Blah, blah, blah.</p>
            </div>
            <div class="col-md-6">
              <img src="/negative-space-rustic-restaurant.jpg" width="630" class="img-responsive" id="about-img">
            </div>
          </div>
        </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Location  <span class="fa fa-map-marker"></span></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            We are located at:
            <h5>100 N Michigan Ave, Chicago, IL 60601</h5>
            <ul><strong>Current Hours:</strong>
              <li>Mon. - 7am-9pm</li>
              <li>Tue. - 7am-9pm</li>
              <li>Wed. - 7am-9pm</li>
              <li>Thu. - 7am-9pm</li>
              <li>Fri. - 7am-9pm</li>
              <li>Sat. - 7am-11pm</li>
              <li>Sun. - 7am-6pm</li>
            </ul>
            <div><span class="fa fa-phone"></span>  Contact us at (312)555-5555</div>
          </div>
          <div class="col-md-6">
            <img src="/chow_map.png" class="img-responsive" id="about-img">
          </div>
        </div>
      </div>
    </div>
</div>
