<div class="page-header" id="header">
  <h3>ADMIN DASHBOARD  <span class="fa fa-bar-chart"></span></h3>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Performance Metrics</h3>
  </div>
  <div class="panel-body">
    <p>There are <strong><%= @item_count %></strong> total menu items.</p>
    <p>There are <strong><%= @user_count %></strong> total users.</p>
    <p><strong><%= @order_count %></strong> total orders have been placed.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <a href="/menu_items"><span class="btn btn-warning">View Menu Items</span></a>
    <a href="/menu_items/new"><span class="btn btn-success">+ Add Item</span></a>
  </div>
</div>
