<div class="container" id="landing-container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
        <img src="/chow_logo.png" class="img-responsive" id="landing-logo">
      </div>
      <div class="col-md-6" >
        <p id="jumbotron-message"><strong>CHOW</strong> is a classic burger joint with all your favorite grill treats!</p>
        <p id="jumbotron-message"><em>"Best burger in the city!" - Local Expert</em></p>
        <p id="jumbotron-message"><em>"Wonderful food and service!" - Celebrity Chef</em></p>
        <p id="jumbotron-message"><em>"<span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span>" - Culinary Expert</em></p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
      <% if current_user && current_user.admin == false %>
        <a href="/menu_items"><span class="btn btn-primary">VIEW MENU</span></a>
      <% elsif current_user && current_user.admin? %>
        <a href="/menu_items"><span class="btn btn-primary">VIEW MENU</span></a>
        <a href="/panel"><span class="btn btn-info">ADMIN PANEL</span></a>
      <% else %>
        <a href="/signup"><span class="btn btn-primary">SIGN UP</span></a>
      <% end %>
        <p>Users can order great food from our menu!</p>
      </div>
    </div>
  </div>
</div>